#popup {
  background-color: #e1e7f2;
  display: none;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  top: 15%;
  left: 50%;
  border-radius: 10%;
  width: 80vw;
  height: 50vw;
}

#message {
  color: white;
  position: absolute;
  top: 50%;
  left: 7%;
  font-size: 5vw;
  text-align: center;
}